.infobar{
    display: flex;
    align-items: center;
    padding: 10px;
}

.infobar div{
    width: 90%;
}

.infobar>div>div{
    display: flex;
    align-items: center;
}

.infobar>div>div>input{
    font-size: 15px;
    margin-left: 10px;
    border: none;
}

.infobar>div>div>ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-top: 3px;
}

.infobar>div>div>ul>li{
    margin: 0px;
    margin-right: 7px;
    font-size: 12px;
}